---
name: Build and run tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
 ormolu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: mrkkrp/ormolu-action@v7

  build:
    name: Run stack
    runs-on: ubuntu-20.04
    needs: ormolu
    steps:
      - uses: actions/checkout@v2

      - name: Setup Haskell environment
        uses: haskell/actions/setup@v1
        with:
          ghc-version: '8.10.7'
          cabal-version: '2.4.0.1'
          enable-stack: true
          stack-version: '2.7.1'

      - name: Build solution
        run: stack build

      - name: Run tests
        run: stack test
